<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form action="/api/excel" method="post" enctype="multipart/form-data">
        <div> 
            <input type="file" name="uploadExcelFile" />
            <input type="text" name="nameField" />
            <input type="text" name="customerField" />
            <input type="text" name="brandField" />
            <input type="text" name="yearField" />
            <input type="text" name="seasonField" />
        </div>
        <input type="submit" value="submit" />  
    </form>
  </body>
</html>
